@using BlazorHotel.Components;
@page "/bookings"
@inject Service service;



<h1>Bookings</h1>
<p>@InBooking()</p>
<div>
    @((MarkupString)BookingMethods.PrintBooking(Service.bookings,Service.customers))
    
</div>

@foreach (var a in Service.bookings)
            {
               
                <ul>
                    <li>@a.DateIn</li>
                    <li>@a.Customerid</li>
                    <li>@a.DateOut</li>
                </ul>
           
            }

@foreach (var booking in BookingsList)
{
    <p>@booking.BookingId</p>
}
<p>Customer Id :</p><input @bind="@custIdTmp" />
<button @onclick="AddBooking">Add Booking</button>





@code {
   
    public List<Bookings> BookingsList = new List<Bookings>();
    private string? custIdTmp {get; set;}
    //int custId = int.Parse(custIdTmp+"");
    private void AddBooking()
    {   string output ="";
        if (int.TryParse(custIdTmp, out int custId))
        {
           
            //Bookings.AddBooking(Service.bookings, Service.rooms);
        }
       
        
        
    }
    

    public static string InBooking()
    {
        List<Room> customerRooms = new List<Room>();
        
        Customer mycust = new Customer(1, "Anders","Andersson", "19700304-1345","Storgatan 42, 43431 Kungsbacka","anders@hotmail.com","034-121121");
        Service.customers.Add(mycust);
        Room room = new Room(101, 2, false, true, true, Diffbeds.Kingsize);
        Service.rooms.Add(room);
        customerRooms.Add(room);
        DateOnly date1 = new DateOnly (2001,01,01);
        DateOnly date2 = new DateOnly (2001,01,05);
        Bookings booktest1 = new Bookings(100, date1, date2, 1, false, "20333541",customerRooms );
        Service.bookings.Add(booktest1);
        return "";
    }

    public void Bookingss(List<Bookings>bookings, List<Room>rooms)
    {
        int bookId;
        if (bookings.Count() < 1)
        {
            bookId=100;
        }
        else
        {
            bookId=bookings[bookings.Count() -1].BookingId +1;
        }
    List<Room> customerrooms = new List<Room>();
    /*System.Console.WriteLine("Add customer");
    int custId = int.Parse(""+ Console.ReadLine());
    System.Console.WriteLine("Add first date");
    DateOnly dateIn = DateOnly.Parse(""+ Console.ReadLine());
    System.Console.WriteLine("Add last date");
    DateOnly dateOut = DateOnly.Parse(""+ Console.ReadLine());
    System.Console.Write("checked in (Yes/No) ?");
    bool tempChecked = Console.ReadLine().ToLower().Equals("yes");
    System.Console.WriteLine("Creditcard number");
    string creditC = Console.ReadLine();


    Bookings bookings1 = new Bookings(bookId, dateIn, dateOut, custId, tempChecked, creditC, customerrooms);
    bookings.Add(bookings1);*/
    }
} 